/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v18-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v18-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v18-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v18-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/raleway-v18-latin_cyrillic-regular.svg#Raleway")
      format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v18-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v18-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}

:root {
  --main-text-color: #757575, 100%;
  --accent-color: #2196f3;
  --black: #212121, 100%;
  --gray: #ffffff, 60%;
  --white: #ffffff, 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
}
.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.order-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--black);
  background: #f5f4fa;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.order-button:hover,
.order-button:focus {
  color: var(--accent-color);
  background-color: #ffffff;
}

.section-title {
  color: var(--black);
}
h2.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
h3.section-title {
  line-height: 1.14;
  text-transform: uppercase;
}
h4.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.job-title {
  font-size: 16px;
  line-height: 1.19;
  /*text-align: center;*/
  letter-spacing: 0.03em;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-color-header {
  color: #000000;
}
.logo-color-footer {
  color: #ffffff;
}
